.lowerP {
    background-image: url("../assets/hero3.png");
    background-size: cover;
}

.newcomer-tools-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3.13rem;
    row-gap: 3.13rem;
    max-width: 90rem;
    margin: 3.39rem auto 4.37rem;
}


