html {
    font-size: 16px;
}

header {
    background-color: #1F2E35;
}

.upperPart {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.upperPartContent {
    max-width: 90rem;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upperPart img {
    width: 2.5rem;
    height: 2.7rem;
}

.upperPart ul {
    display: flex;
    justify-content: space-between;
    gap: 4.81rem;
    margin-left: 16.69rem;
}

.upperPart nav li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
}

header button {
    border-radius: 0.5rem;
    background: #0086D6;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21875rem;
    letter-spacing: 0.0125rem;
    text-transform: capitalize;
    border: none;
    display: inline-flex;
    padding: 0.5625rem 1.25rem 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upperPart button:first-child {
    margin-right: 0.94rem;
}

.lowerPart {
    max-width: 90rem;
    height: 41.625rem;
    margin: 3.44rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftPart {
    width: 38.5%;
    margin-top: 3.56rem;
    margin-bottom: 3.56rem;
}

.leftPart h2, .hero h2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.8125rem;
    letter-spacing: 0.0125rem;
    margin-bottom: 1rem;
}

.subtext, .hero p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.28125rem;
    letter-spacing: 0.0125rem;
    margin-bottom: 1.5rem;
}

.leftPart button, .hero button {
    display: inline-flex;
    padding: 0rem 1.6875rem;
    height: 3.8rem;
    justify-content: center;
    align-items: center;
}

.leftPart .users {
    display: block;
    align-items: center;
    margin-top: 3.12rem;
}

.leftPart img {
    width: 2.625rem;
    height: 2.625rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.leftPart .users-image {
    transform: translate(-30px, 0px);
}

.leftPart .users p {
    display: inline-block;
    color: #0086D6;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: translate(-30px, 0px);
}

.leftPart .users p:last-child {
    color: #FFF;
    font-weight: 400;
}

.rightPart {
    position: relative;
}

.logo {
    width: 8.85125rem;
    height: 9.65588rem;
    flex-shrink: 0;
    position: absolute;
    transform: translate(135%, 135%);
}

.circle {
    animation: spin 100s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

.total-tools {
    margin: 4.37rem auto;
    display: flex;
    justify-content: space-between;
    gap: 1.88rem;
    max-width: 90rem;
    margin: 0 auto;
}

.tool-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
}

.tool-box h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.tool-box:first-child h5 {
    color: #0086D6;
}

.tool-box:nth-child(2) h5 {
    color: #2BA093;
}

.tool-box:nth-child(3) h5 {
    color: #F36;
}

.tool-box h4 {
    color: #333E44;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0.5rem;
}

.tool-box p {
    width: 16.375rem;
    color: #475E69;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-top: 1rem;
    margin-bottom: 1.37rem;
}

.most-popular-tools {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.37rem;
    max-width: 90rem;
    margin: 4.38rem auto 5rem;
}

.most-popular-tools h3, .new-comer-tools h3, .brands h3, .testimonial h3 {
    color: #333E44;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
    margin-top: 3.13rem;
    text-align: center;
}

.most-popular-tools p, .new-comer-tools p, .brands p, .testimonial p, .newcomer-tools-grid p {
    color: #475E69;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 1rem;
}

.most-popular-tools>p, .wrapper>p, .brands>p, .testimonial>p {
    margin-top: 1rem;
    font-size: 1.125rem;
    text-align: center;
}

.popular-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3.31rem;
    margin-bottom: 3.13rem;
    gap: 1rem;
    align-items: center;
}

.popular-card {
    width: 30%;
    height: 27rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 32px 56px 0px rgba(0, 0, 0, 0.08);
}

.popular-card:nth-child(2) {
    width: 35%;
    height: 28.375rem;
    flex-shrink: 0;
}

.popular-card:hover, .grid-item:hover {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.popular-card .image-background, .grid-item .image-background {
    display: flex;
    padding: 2.6875rem 0rem 2.75rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #F5F5F5;
    margin: 1.25rem 1.31rem 0 1.25rem;
}

.title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1.75rem;
    margin-left: 1.25rem;
    margin-right: 1.31rem;
}

.title h4 {
    color: #333E44;
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.title span {
    color: #20C08B;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
}

.title .premium {
    color: #FFC942;
}

.title .free-trial {
    color: #009BFF;
}

.popular-card p, .grid-item p {
    color: #475E69;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 1.31rem;
}

.labels {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

.labels span {
    color: #0086D6;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
    border-radius: 0.25rem;
    background: #E1EBFB;
    display: inline-flex;
    height: 2.0625rem;
    padding: 0rem 0.625rem 0.0625rem 0.625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}

.most-popular-tools button, .new-comer-tools button {
    width: 10rem;
    height: 2.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #333E44;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
    margin: 2.44rem auto 0.56rem;
    cursor: pointer;
}

.new-comer-tools {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}

.wrapper {
    max-width: 90rem;
    margin: 0 auto;
}

.newcomer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.12rem;
    margin-top: 3.31rem;
}

.newcomer-box {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
}

.newcomer-box .image-background {
    display: flex;
    width: 7.5rem;
    height: 7.5rem;
    padding: 0.625rem 1.70894rem 0.625rem 1.6875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #F5F5F5;
    margin: 2.31rem 1.5rem;
}

.newcomer-box:hover {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.newcomer-box p {
    padding-right: 25px;
    margin: 0.5rem 1.44rem 0 1.5rem;
}

.new-comer-tools button {
    margin: 3.12rem auto 3.19rem;
}

.brands {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.12rem;
    max-width: 90rem;
    margin: 0 auto;
}

.brands h3 {
    margin-top: 5.5rem;
}

.brands>p {
    font-size: 1.25rem;
}

.brand-container {
    margin-top: 2rem;
    margin-bottom: 1.88rem;
    display: flex;
    justify-content: space-between;
    gap: 1.88rem;
}

.brand-box {
    display: flex;
    padding: 2rem 1.0625rem 0.125rem 1.125rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.1875rem;
}

.brand-box:hover {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.10);
}

.brand-box p {
    margin: 0 0.88rem 1.8rem 1.12rem;
    text-align: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}

.testimonial .wrapper>p {
    font-size: 1.25rem;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
    margin-top: 2.69rem;
    margin-bottom: 4.5rem;
}

.testimonial-box {
    border-radius: 0.5rem;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.testimonial-box>p {
    margin: 1.35rem 1.25rem 0.65rem 1.5rem;
}

.testimonial-box>img {
    margin: 1.5rem 0 0 1.61rem;
    width: 6.65rem;
    height: 1.14681rem;
    flex-shrink: 0;
}

.customer img {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    margin: 0 0.44rem 1.54rem 1.5rem;
}

.customer {
    display: flex;
}

.name p:first-child {
    color: #333E44;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

.name p:last-child {
    color: #30444E;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

footer {
    background: #1F2E35;
}

.subscription {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}

.subscription h3 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.0125rem;
    margin-top: 2.5rem;
}

.subscription>p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    letter-spacing: 0.0125rem;
    margin-top: 1.5rem;
}

.subscribe {
    margin-top: 2rem;
    margin-bottom: 2.88rem;
}

.subscribe input {
    display: inline-flex;
    width: 17.625rem;
    height: 2.625rem;
    flex-shrink: 0;
    margin-right: 0.81rem;
    border-radius: 0.25rem;
    background: #FFF;
}

.subscribe input::placeholder {
    color: #737B7D;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
    padding-left: 1rem;
}

.subscribe button {
    display: inline-flex;
    height: 2.625rem;
    padding: 0.75rem 1.9375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #0086D6;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 9rem;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: 0.01875rem;
    cursor: pointer;
}

.contents {
    border-top: 1px solid #666;
    background: #1F2E35;
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.contents .wrapper {
    max-width: 90rem;
    margin: 0 auto;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    padding-top: 3.37rem;
    padding-bottom: 5.75rem;
    justify-content: space-between;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.socials-logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-networks {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contents h4 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}

.contents li {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875rem;
}

.watermark {
    height: 3.75rem;
    flex-shrink: 0;
    background: #1D292F;
}

.watermark p {
    text-align: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    padding: 0.94rem;
}